@font-face{ font-family: "Archivo-Black"; src: url("../../fonts/Archivo-Black.ttf");;}
@font-face{ font-family: "Archivo-BlackItalic"; src: url("../../fonts/Archivo-BlackItalic.ttf");;}
@font-face{ font-family: "Archivo-Bold"; src: url("../../fonts/Archivo-Bold.ttf");;}
@font-face{ font-family: "Archivo-BoldItalic"; src: url("../../fonts/Archivo-BoldItalic.ttf");;}
@font-face{ font-family: "Archivo-ExtraBold"; src: url("../../fonts/Archivo-ExtraBold.ttf");;}
@font-face{ font-family: "Archivo-ExtraBoldItalic"; src: url("../../fonts/Archivo-ExtraBoldItalic.ttf");;}
@font-face{ font-family: "Archivo-ExtraLight"; src: url("../../fonts/Archivo-ExtraLight.ttf");;}
@font-face{ font-family: "Archivo-ExtraLightItalic"; src: url("../../fonts/Archivo-ExtraLightItalic.ttf");;}
@font-face{ font-family: "Archivo-Italic"; src: url("../../fonts/Archivo-Italic.ttf");;}
@font-face{ font-family: "Archivo-Light"; src: url("../../fonts/Archivo-Light.ttf");;}
@font-face{ font-family: "Archivo-LightItalic"; src: url("../../fonts/Archivo-LightItalic.ttf");;}
@font-face{ font-family: "Archivo-Medium"; src: url("../../fonts/Archivo-Medium.ttf");;}
@font-face{ font-family: "Archivo-MediumItalic"; src: url("../../fonts/Archivo-MediumItalic.ttf");;}
@font-face{ font-family: "Archivo-Regular"; src: url("../../fonts/Archivo-Regular.ttf");;}
@font-face{ font-family: "Archivo-SemiBold"; src: url("../../fonts/Archivo-SemiBold.ttf");;}
@font-face{ font-family: "Archivo-SemiBoldItalic"; src: url("../../fonts/Archivo-SemiBoldItalic.ttf");;}
@font-face{ font-family: "Archivo-Thin"; src: url("../../fonts/Archivo-Thin.ttf");;}
@font-face{ font-family: "Archivo-ThinItalic"; src: url("../../fonts/Archivo-ThinItalic.ttf");;}
