@import "commons/accordion";
@import "commons/alert";
@import "commons/sprite";
@import "commons/header";
@import "commons/footer";
@import "commons/container";
@import "commons/banner";
@import "commons/about";
@import "commons/cleanProces";
@import "commons/rivers";
@import "commons/posts";
@import "commons/partnyors";

.img-responsive{
  max-width: 100%;
}
.facebook-icon{
    font-size: 20px;
    font-family: Inter-Medium;
    &:before{
      content: '';
      display: inline-block;
      font-icon: url('../../icons/facebook.svg');
    }
}
.instagram-icon{
  font-size: 20px;
  font-family: Inter-Medium;
  &:before{
    content: '';
    display: inline-block;
    font-icon: url('../../icons/instagram.svg');
  }
}
.twitter-icon{
  font-size: 20px;
  font-family: Inter-Medium;
  &:before{
    content: '';
    display: inline-block;
    font-icon: url('../../icons/twitter.svg');
  }
}
.linkedin-icon{
  font-size: 20px;
  font-family: Inter-Medium;
  &:before{
    content: '';
    display: inline-block;
    font-icon: url('../../icons/linkedin.svg');
  }
}
