@import "commons/sidebar";
@import "commons/header";
@import "commons/lc-waikiki";
@import "commons/blog";
@import "commons/popular";
@import "commons/main";
@import "commons/about";
@import "commons/cabinet";
@import "commons/mobile-menu";
@import "commons/header-mobile";


::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: @menu-red;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: @scroll-bar-hover;
}

.wrapper {
  display: flex;
  position: relative;
  overflow: hidden;
}

.main {
  width: 100%;
  height: 100%;

}

.seem {
  visibility: visible;
  opacity: 1;
  transform: translate(0, 0px) scale(1);
}

.active {
  display: block;
}

.disable {
  display: none;
}

.disable-after::after {
  display: none;
}

.slick-slide {
  margin-right: 30px;
}

.rotate-180::before {
  transform: rotate(180deg);
  transition: 0.2s;
}

.rotate-270::before {
  transform: rotate(270deg);
  transition: 0.2s;
}

.line {
  width: 35px;
  height: 2px;
  background-color: @line-color;
  transform: rotate(-90deg);
  margin: 0;
  border: none;
}

.arrow-right-icon {
  font-size: 8px;
  font-family: Inter-Medium;

  &:before {
    content: '';
    display: inline-block;
    font-icon: url('../../icons/arrow-right.svg');
  }
}

.eye-icon {
  font-size: 12px;
  font-family: Inter-Medium;

  &:before {
    content: '';
    display: inline-block;
    font-icon: url('../../icons/eye.svg');
  }
}

.facebook-icon {
  font-size: 18px;
  font-family: Inter-Medium;

  &:before {
    content: '';
    display: inline-block;
    font-icon: url('../../icons/facebook.svg');
  }
}

.instagram-icon {
  color: @white;
  font-size: 12px;
  font-family: Inter-Medium;

  &:before {
    content: '';
    display: inline-block;
    font-icon: url('../../icons/instagram.svg');
  }
}

.facebook-white-icon {
  font-size: 12px;
  font-family: Inter-Medium;
  color: @white;
  margin-right: 5px;

  &:before {
    content: '';
    display: inline-block;
    font-icon: url('../../icons/facebook-white.svg');
  }
}

.arrow-icon {
  font-size: 8px;
  color: @white;

  &:before {
    content: '';
    display: inline-block;
    font-icon: url('../../icons/arrow.svg');
  }
}

.lcwaikiki-icon {
  font-size: 40px;
  font-family: Inter-Medium;
  color: blue;

  &:before {
    content: '';
    display: inline-block;
    font-icon: url('../../icons/lcwaikiki.svg');
  }
}
.market-icon {
  font-size: 30px;
  font-family: Inter-Medium;
  color: @menu-red;
@media only screen and (max-width:767px) {
    font-size: 22px;;
  }
  &:before {
    content: '';
    display: inline-block;
    font-icon: url('../../icons/market.svg');
  }
}