@header-color: #FF3797;
@line-color: #fd2a90;
@sidebar-color: #321C5C;
@cabinet-sidebar:#313566;
@cabinet-header:#4BC1C2;
@white: #fff;
@account-background-color: #331d5e14;
@menu-red: #FF3797;
@scroll-bar-hover: #ce2c7a;
@header-border-color: #707070;
@waikiki-brand-con: #c0c7c931;
@title-text: #4B2D83;
@about-title:#53468C;
@mobile-menu:#4a2785;
@official-site-color: #4BC1C2;
@sales-text: #3F4547;
@pagination-color-opp: hsla(200, 76%, 61%, 0.14);
@pagination-color: hsl(200, 76%, 61%);
@most-read-con: #F2F3F4;
@grey: #5B5B5B;
@id-color:#606060;
@sales-news-title:#2B2D5D;
@facebook-icon-dark: #4D75A3;
@facebook-icon-light: #37AEE2;
@popular-text: #5A546B;
@buy-bring-title: #54488B;
@accordion-title: #54488B;
@accordion-arrow: #4EB5E7;
@buy-bring-text: #685986;
@about-text:#63637C;
@why-bringly-about:#F2F3F4;
@promocode-title: #4BC1C2;
@tariff-price-background: #4CC0C1;
@video-background: rgba(51, 29, 94, 0.15);
@why-bringly-con: #F9F9FA;
@customer-comment-con: #34A8E2;



@Montserrat-regular: 'Montserrat-Regular';
@Montserrat-medium: 'Montserrat-Medium';
@Montserrat-semiBold: 'Montserrat-SemiBold';
@Montserrat-bold: 'Montserrat-Bold';
@Montserrat-italic: 'Montserrat-Italic';
@Montserrat-light: 'Montserrat-Light';

.fonts-native(@size: 14px, @weight: normal, @font: @archivo-regular) {
  line-height: @size;
  font-family: @font;
  font-weight: @weight;
  font-size: @size;
}

.flexbox(@alignItems: center, @justifyContent: center) {
  display: flex;
  align-items: @alignItems;
  justify-content: @justifyContent;
}

.container {
  .container-fixed();

  @media (min-width: @screen-sm-min) {
    width: @container-sm;
  }

  @media (min-width: @screen-md-min) {
    width: @container-md;
  }

  @media (min-width: @screen-lg-min) {
    width: 1220px;
  }
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul,
p,
h3,
h1,
h2,
h4 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.nopa {
  padding: 0 !important;

  @media(max-width: @screen-md-min) {
    padding: 0 20px !important;
  }
}