.blog {
    width: 100%;
    background-color: @white;
    padding: 80px 98px 24px 320px;
    height: 100vh;
        overflow-y: scroll;

    @media only screen and (max-width:993px) {
        padding: 0 25px;
        padding-top: 140px;
    }

    &__title {
        font-size: 22px;
        color: @title-text;
        font-family: @Montserrat-bold;
    }

    &__tabs {
        width: 100%;
        .flexbox(center, space-between);
        margin-top: 33px;

        @media only screen and (max-width:767px) {
            justify-content: flex-start;
            gap: 25px;
            flex-wrap: wrap;
        }

        &__btn {
            padding: 8px 30px;
            transition: 0.2s;
            color: @official-site-color;
            font-size: 12px;
            font-family: @Montserrat-medium;
            border: none;
            border-radius: 5px;
            background-color: hsla(181, 49%, 53%, 7%);

            @media only screen and (max-width:1200px) {
                padding: 7px 25px;
                font-size: 10px;
            }

        }

        &__btn:hover {
            transition: 0.2s;
            border-radius: 5px;
            background-color: @official-site-color;
            color: @white;
        }
    }

    &__cards {
        margin-top: 76px;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;

        @media only screen and (max-width:993px) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
        }

        @media only screen and (max-width:767px) {
            display: block;
            margin-top: 50px;
        }

        &__container {
            margin: 0;
            max-width: 340px;
            background: #fff;
            display: flex;
            flex-direction: column;

            @media only screen and (max-width:1200px) {
                max-width: 265px;
            }

            @media only screen and (max-width:993px) {
                max-width: 340px;
            }

            @media only screen and (max-width:767px) {
                max-width: 100%;
            }

            &__img {
                img {
                    width: 100%;
                    height: auto;
                }
            }

            &__content {
                padding: 37px 0;

                &__link {
                    color: @official-site-color;
                    font-size: 14px;
                    font-family: @Montserrat-semiBold;
                    line-height: 17px;
                    text-decoration: none;
                }

                &__text {
                    font-size: 13px;
                    line-height: 22px;
                    font-family: @Montserrat-light;
                    color: @sidebar-color;
                }
            }
        }
    }

    &__pagination {
        margin: 70px 0;
        display: flex;
        align-items: center;

        @media only screen and (max-width:767px) {
            margin: 40px 0;
        }

        &__link {
            padding: 7px;
            transition: 0.2s;
            background-color: @pagination-color-opp;
            color: @sidebar-color;
            font-family: 11px;
        }

        &__link:hover {
            transition: 0.2s;
            background-color: @pagination-color;
            color: @white;
        }

        &__link:first-child {
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }

        &__link:last-child {
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }
    }
}